<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<style>
    /* 에러 발생시 생기는 붉은 테두리 */
    .fieldError {
        border-color: #bd2130;
    } </style>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"></div>

    <form role="form" th:action="@{/login}" th:object="${loginForm}"
          method="post">

        <div class="form-group">
            <label th:for="email">Email</label>
            <!--            아래는 삼항연산자를 활용한 부분으로 에러가 발생하면 fieldError 라는 css 속성이 추가된다. -->
            <input type="email" th:field="*{email}" class="form-control" placeholder="이메일을 입력하세요"
                   th:class="${#fields.hasErrors('email')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('email')}"
               th:errors="*{email}">Incorrect date</p>
        </div>

        <div class="form-group">
            <label th:for="password">Password</label>
            <!--            아래는 삼항연산자를 활용한 부분으로 에러가 발생하면 fieldError 라는 css 속성이 추가된다. -->
            <input type="password" th:field="*{password}" class="form-control" placeholder="비밀번호를 입력하세요"
                   th:class="${#fields.hasErrors('password')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('password')}"
               th:errors="*{password}">Incorrect date</p>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

        <a type="button" href="/members/new" class="btn btn-primary">회원가입</a>

    <br/>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>